@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Arial;
  height: 1400px;
}

/* Header */

header {
	text-align: center;
	margin-top: 1%;
	margin-left: 4%;
 	margin-right: 4%;
}

header .caixa {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 100%;
	background-color: #26A69A;
	padding: 25px;
}

header h1 {
	font-weight: bold;
	color: white;
	font-size: 55px;
}

header p {
	font-size: 16px;
}

header nav {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #263238;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	color: white;
	width: 25%;
}

.linhaDir {
	border-right: 1px solid #37474f;
}

.linhaEsq {
  border-left: 1px solid #37474f;
}

/* Section Intro */

.corpo {
	margin-top: 3%;
	margin-left: 4%;
	margin-right: 4%;
}

.corpo h1 {
	font-family: 'Bree Serif', serif;
	font-size: 45px;
}

.corpo p {
	text-align: justify;
}

.sobre {
	text-align: center;
	margin-top: 4%;
}

.sobre p {
	text-align: center;
}

.sobre .icon {
	width: 150px;
	height: 150px;
}

.inicioDown {
	padding: 0.8em;
	background-color: #37474f;
	border: none;
	border-radius: 4px;
	color: white;
	float: right;
}

.img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #26A69A;
  margin-right: 4%;
}

/* Media Query */

@media screen and (max-width: 480px) {
	header nav ul li {
		display: inline-block;
		padding: 10px;
		font-size: 12px;
		color: white;
		width: 25%;
	}
}

@media screen and (max-width: 368px) {
	header nav ul li {
		display: inline-block;
		padding: 10px;
		font-size: 8px;
		color: white;
		width: 25%;
	}
}

@media screen and (max-width: 480px) {
	header h1 {
		font-weight: bold;
		color: white;
		font-size: 30px;
	}

	header p {
		font-size: 12px;
	}
}
